div{
    background-color: gray;
    
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}

h1{
    text-align: center;
}

body{
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
}

nav a{
    float: left;
    border-color: black;
    border-right-color: black;
}

form{
    text-align:center;
}
footer{
    text-align:center;
}