body{
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
}
div{
    background-color: gray;
    
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}

h1{
    text-align: center;
    border-style:solid;
    border-bottom-color: black;
}



nav a{
    float: left;
    border-color: black;
    border-right-color: black;
}

form{
    text-align:center;
}
footer{
    text-align:center;
}
form{
    
    border-style:solid;
    border-bottom-color: black;
}
a{
    text-align: center;
    
}