body{
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
}
div{
    background-color: gray;
    
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}

h1{
    text-align: center;
    border-style:solid;
    border-bottom-color: black;
}



nav a{
    float: left;
    border-color: black;
    border-right-color: black;
}

form{
    text-align:center;
}
footer{
    text-align:center;
}
form{
    
    border-style:solid;
    border-bottom-color: black;
}
a{
    text-align: center;
    
}

table {
    border: 5px solid rgb(90, 147, 255);
    width: 100%;
    
}

th {
    border: 5px solid rgb(90, 147, 255);
    text-align:left;
    padding: 10px;
    font-size: 250%;
}

td {
    border: 5px solid rgb(90, 147, 255);
    padding: 10px;
    font-size: 200%;
}

#total {
    width: 50%;
    margin: auto;
    border: 5px solid rgb(90, 147, 255);
    text-align: center;
    font-size: 175%;
    
}